
entrypoint = "main.py"
run = "python3 main.py"

[deployment]
build = ["sh", "-c", "python3 -m pip install ."]
run = ["sh", "-c", "gunicorn -w 1 -k sync -b 0.0.0.0:$PORT main:app"]
deploymentTarget = "cloudrun"

[workflows]
runButton = "Run Bot"

[[workflows.workflow]]
name = "Run Bot"
author = 46533849
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[nix]
channel = "stable-24_05"

[env]
PYTHONPATH = "$REPL_HOME"
