entrypoint = "main.py"
run = "python3 main.py"

[deployment]
build = ["sh", "-c", "uv pip install -r pyproject.toml --python python3"]
run = ["sh", "-c", "gunicorn -w 1 -k sync -b 0.0.0.0:$PORT main:app"]
deploymentTarget = "cloudrun"
